//Colors vars
$color-dark: #000;
$color-light: #fff;
$color-primary: #BF7130;
$color-secondary: #006363;
$color-danger: #BF3030;

//Spacing vars
$spacing-default: 20px;

//Fonts vars
$font-size-default: 20px;
$line-height-default: 24px;
$font-weight-default: 700;